<div class="monkey_header text-center">
  <h1>SHAME</h1>
  <h3>The site that allows you to laugh at the dumb shameful things humanity does</h3>
  
  <%= link_to 'LOGIN', new_user_session_path, :class => "btn btn-default", :style => "margin-right: 5%; margin-bottom:5%;padding-left:1%;padding-right:1%;" %>
  <%= link_to 'SIGN UP!', new_user_registration_path, :class => "btn btn-default", :style => "margin-bottom:5%;padding-left:1%;padding-right:1%;" %>
</div>
<hr>
<div class="details text-center">
  <hr>
  <table>
    <thead>
      <hr>
      <h2 style="font-size:25px;">Benefits of Laughing:</h2>
      <br>
    </thead>
    <tr>
      <td><%= image_tag("arrow.png", width: "15%", alt: "arrow") %></td>
      <td><h4>reduces heart disease</h4></td>
    </tr>
    <tr>
      <td><%= image_tag("arrow.png", width: "15%", alt: "arrow") %></td>
      <td><h4>natural pain killer</h4></td>
    </tr>
    <tr>
      <td><%= image_tag("arrow.png", width: "15%", alt: "arrow") %></td>
      <td><h4>improves breathing</h4></td>
    </tr>
    <tr>
      <td><%= image_tag("arrow.png", width: "15%", alt: "arrow") %></td>
      <td><h4>gives you better sleep</h4></td>
    </tr>
    <tr>
      <td><%= image_tag("arrow.png", width: "15%", alt: "arrow") %></td>
      <td><h4>decrease stress</h4></td>
    </tr>
    <tr>
      <td><%= image_tag("arrow.png", width: "15%", alt: "arrow") %></td>
      <td><h4>boots relationships</h4></td>
    </tr>
    <tr>
      <td><%= image_tag("arrow.png", width: "15%", alt: "arrow") %></td>
      <td><h4>triggers endorphin release</h4></td>
    </tr>
    <tr>
      <td><%= image_tag("arrow.png", width: "15%", alt: "arrow") %></td>
      <td><h4>helps you lose weight</h4></td>
    </tr>
  </table>
  <hr><br>
</div>
<hr>
<div class="text-center container">
    <h2 style="font-size:28px;">Share your</h2>
    <br>
    <span class="col-sm-4 col-xs-12"><%= image_tag("gasicon.png", width: "120px", alt: "gas") %><h4 style="font-size:13px;">Find the Best Gas Prices</h4></span>
    <span class="col-sm-4 col-xs-12"><%= image_tag("mechanicicon.png", width: "135px", alt: "mechanic") %><h4 style="font-size:13px;">Search Local Mechanics</h4></span>
    <span class="col-sm-4 col-xs-12"><%= image_tag("partsicon.png", width: "120px", alt: "parts") %><h4 style="font-size:13px;">Find the Right Vehicle Parts</h4></span>
  </div>
</div>
<hr>
<div class="text-center" style="background-color:#F7F7F6;">
  <div class="about-us">
    <br>
    <h2 style="font-size:28px;">The GLOVEBOX Team</h2>
    <br>
    
  </div>
</div>
<hr>
<div class="text-center">
  <br>
  <h2 style="font-size:28px;">Contact Us</h2>
  <br>
  <hr>
</div>
