<div class="monkey_header text-center">
  <h1>SHAME</h1>
  <h3>the site that allows you to laugh at the dumb shameful things humanity does</h3>
  <% if user_signed_in? %>
  <% else %>
    <%= link_to 'LOGIN', new_user_session_path, :class => "btn btn-default", :style => "margin-right: 5%; margin-bottom:10%;padding-right:1%;padding-left:1%;" %>
    <%= link_to 'SIGN UP!', new_user_registration_path, :class => "btn btn-default", :style => "margin-bottom:10%;padding-left:1%;padding-right:1%;" %>
  <% end %>
</div>
<br>
<div class="text-center container">
  <div class="col-xs-12 col-sm-6 col-lg-6 text-center">
    <br>
    <%= image_tag("share.png", :width => "100%", alt: "share") %>
  </div>

  <div class="col-xs-12 col-sm-6 col-lg-6 text-center">
    <br>
    <h2 style="text-align:left; font-size:28px;"><h2>An Anonymous Home for Your Shame<h2>
    <h4 style="text-align:center; font-size:20px;">A place to get out all your shameful stories anonymously.</h4>
    <h4 style="text-align:center; font-size:20px;;">Peruse catagories, or create your own.</h4>
    <h4 style="text-align:center; font-size:20px;">Find others who are more shameful than you.</h4>
    <br>
  </div>
</div>
<br>

<div class="text-center" style="background-color:black">
  <br>
  <h2 style="color:yellow;">Laughs per day</h2>
  <br>

</div>

<div class="details text-center">
  <table>
    <thead>
      <hr>
      <h2 style="font-size:45px;">BENEFITS OF LAUGHING:</h2><br>
    </thead>
    <tr class="text-center">
      <td class="arrow"><%= image_tag("arrow.png", width: "15%", alt: "arrow") %></td>
      <td><h4>reduces heart disease</h4></td>
    </tr>
    <tr>
      <td class="arrow"><%= image_tag("arrow.png", width: "15%", alt: "arrow") %></td>
      <td><h4>natural pain killer</h4></td>
    </tr>
    <tr>
      <td class="arrow"><%= image_tag("arrow.png", width: "15%", alt: "arrow") %></td>
      <td><h4>improves breathing</h4></td>
    </tr>
    <tr>
      <td class="arrow"><%= image_tag("arrow.png", width: "15%", alt: "arrow") %></td>
      <td><h4>gives you better sleep</h4></td>
    </tr>
    <tr>
      <td class="arrow"><%= image_tag("arrow.png", width: "15%", alt: "arrow") %></td>
      <td><h4>decrease stress</h4></td>
    </tr>
    <tr>
      <td class="arrow"><%= image_tag("arrow.png", width: "15%", alt: "arrow") %></td>
      <td><h4>boots relationships</h4></td>
    </tr>
    <tr>
      <td class="arrow"><%= image_tag("arrow.png", width: "15%", alt: "arrow") %></td>
      <td><h4>triggers endorphin release</h4></td>
    </tr>
    <tr>
      <td class="arrow"><%= image_tag("arrow.png", width: "15%", alt: "arrow") %></td>
      <td><h4>helps you lose weight</h4></td>
    </tr>
  </table>
  <br>
</div>

