<div>
  <%= form_for @post do |f| %>
    <div class="form_group">
      <%= f.label(:name, class: 'form-label') %>
      <%= f.text_field(:name, class: 'form-control') %>
    </div>
    <br>
    <div class="form_group">
      <%= f.label(:category, class: 'form-label') %><br>
      <%= select("post", "category_id", Category.all.collect {|p| [ p.title, p.id ] }, { include_blank: true }) %>
    </div>
    <br>
    <div class="form_group">
      <%= f.label(:description, class: 'form-label') %>
      <%= f.text_field(:description, class: 'form-control') %>
    </div>
    <br>
    <div class="form_group">
        <%= f.file_field :post_pic %>
    </div>
    <br>
    <div class="form_group">
      <%= f.submit('Post') %>
    </div>
    <br>
  <% end %>
  <br>
</div>