<div class="container text-center">
  <h1 class="sign-up"><%= @post.category.title %></h1>

  <%= image_tag @post.post_pic(:medium) %>
  <h3><%= @post.name %></h3>
  <p><%= @post.description %></p>
  <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-default" %>
  <%= link_to 'Back to Category', category_path(@post.category_id), class: "btn btn-default" %>

</div><br>
